<div class="wow fadeInUp content-card">

  <p id="notice"><%= notice %></p>

  <h1>Lists</h1>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Due date</th>
        <th>Description</th>
        <th>Done</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @lists.each do |list| %>
        <tr>
          <td><%= list.title %></td>
          <td><%= list.due_date %></td>
          <td><%= list.description %></td>
          <td><%= list.done %></td>
          <td><%= link_to 'Show', list %></td>
          <td><%= link_to 'Edit', edit_list_path(list) %></td>
          <td><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New List', new_list_path %>
</div>

        <div class="fixed-action-btn toolbar">
            <!-- Botón flotante para el logout -->
             <%= link_to(destroy_user_session_path, method: :delete,:class => 'btn-floating btn-large') do %> 
            
               <i class="material-icons">exit_to_app</i>
           
            <% end %>

           
        </div>
